* {
    font-family: 'Anek Latin', sans-serif;
    box-sizing: border-box;
    margin: 0;
}
body {
    height: 100vh;
    margin: 0;
    display: grid;
    
    grid-template-rows: 120px 1fr 60px;
    grid-template-columns: 1fr;
    grid-template-areas: 
     /*Não é a classe css, é o valor que vai ser colocado na propriedade grid area */
     "cabecalho"
     "principal" 
     "rodape ";
}


.cabecalho {
    grid-area: cabecalho;
    background-color: #1867c0;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*sombra em baixo do menu*/
    box-shadow: 0 4px 9px -2px rgba(0, 0, 0, 0.75);
    z-index: 1;
}

.cabecalho > h1 {
    font-weight: 300;
    font-size: 2.8rem;
    padding-bottom: 10px;
}

.cabecalho h2 {
    font-weight: 200;
    font-size: 1.6rem;
}

.principal {
    grid-area: principal;
    height: calc(100vh - 180px);/*Tamanho ta tela menos o tamanho dos footer e do header*/
    background-color: #dadada;
    padding: 20px;
}

.conteudo {
    position: relative;
    height: 100%;
    overflow-y: scroll;
    background-color: #Fff;
    padding: 20px;
    box-shadow: 0px 0px 25px 0 rgb(0, 0,0, 0.2);
}

.rodape {
    grid-area: rodape;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    padding: 0 20px;
    color: #cacaca;
    /* position: sticky;
    bottom: 0px; */
}

/*===== Modulos do curso =====*/
.modulos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.modulo {
    /*Informa quanto de largura cada elemento vai ter*/
    flex-basis: 32%;
    margin-bottom: 10px;
    border-radius: 5px;
}
/* estilização dos modulos do curso*/
.modulo > h3 {
    margin: 0;
    color: #Fff;
    font-weight: 300;
    font-size: 1.5rem;
    padding: 10px 20px;
    background-color:  #1867c0;
}
/*estilizando itens do modulo*/
.modulo >  ul {
    padding: 7px;
    list-style: none;
}

.modulo > ul > li {
    padding: 10px;
    font-size: 1.2rem;
    cursor: pointer;
}

.modulo ul > li > a {
    display: block;
    width: 100%;
    text-decoration: none;
    display: flex;
    color: #222;
}

.modulo ul > li:hover {
    background-color: #eee;
}
/* === Mudando a cor dos modulos=== */

/*1 modulo*/
.modulo:nth-child(1) {
    border: 2px solid #4CAF50;
}

.modulo:nth-child(1) h3{
    background-color: #4CAF50;
}

/*2 modulo*/
.modulo:nth-child(2) {
    border: 2px solid #F44336;
}

.modulo:nth-child(2) h3{
    background-color: #F44336;
}


/*3 modulo*/
.modulo:nth-child(3) {
    border: 2px solid #2196F3;
}

.modulo:nth-child(3) h3{
    background-color: #2196F3;
}


/*4 modulo*/
.modulo:nth-child(4) {
    border: 2px solid #FF9800;
}

.modulo:nth-child(4) h3{
    background-color: #FF9800;
}


/*5 modulo*/
.modulo:nth-child(5) {
    border: 2px solid #1B5800;
}

.modulo:nth-child(5) h3{
    background-color: #1b5800;
}


/*6 modulo*/
.modulo:nth-child(6) {
    border: 2px solid #B71C1C;
}

.modulo:nth-child(6) h3{
    background-color: #B71C1C;
}

/*7 modulo*/
.modulo:nth-child(7) {
    border: 2px solid #6c1cb7;
}

.modulo:nth-child(7) h3{
    background-color: #6c1cb7;
}

/*8 modulo*/
.modulo:nth-child(8) {
    border: 2px solid #b71c95;
}

.modulo:nth-child(8) h3{
    background-color: #b71c95;
}

/*8 modulo*/
.modulo:nth-child(9) {
    border: 2px solid #009479;
}

.modulo:nth-child(9) h3{
    background-color: #009479;
}
